<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title text-primary mb-4">Tour <%= @tour.ordre %> de <%= @tontine.description %></h1>

          <h6 class="card-subtitle mb-3 text-muted">Informations du Tour</h6>
          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><strong>Ordre:</strong> <%= @tour.ordre %></li>
            <li class="list-group-item"><strong>Date du Tirage:</strong> <%= l @tour.date_tirage, format: :long %></li>
            <li class="list-group-item"><strong>Bénéficiaire:</strong> <%= @tour.beneficiaire&.email || 'Non désigné' %>
              <% if @tontine.creator == current_personne && @tour.beneficiaire.nil? %>
                <%= button_to 'Tirer un Bénéficiaire au Sort', tirer_beneficiaire_tontine_tour_path(@tontine, @tour), method: :post, class: "btn btn-info btn-sm ml-2" %>
              <% end %>
            </li>
          </ul>

          <h6 class="card-subtitle mb-3 text-muted">Contributions</h6>
          <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th>Participant</th>
                <th>Montant Contribué</th>
              </tr>
            </thead>
            <tbody>
              <% if @tour.participants.any? %>
                <% @tour.participants.each do |participant| %>
                  <% participant.contributions.where(tour: @tour).each do |contribution| %>
                    <tr>
                      <td><%= participant.personne.nom_complet %></td>
                      <td><%= number_to_currency(contribution.montant, unit: "CFA ") %></td>
                    </tr>
                  <% end %>
                  <% if participant.contributions.where(tour: @tour).empty? %>
                    <tr>
                      <td colspan="2" class="text-muted">Aucune contribution de <%= participant.personne.nom_complet %> pour ce tour.</td>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr><td colspan="2" class="text-muted">Aucun participant pour ce tour.</td></tr>
              <% end %>
            </tbody>
          </table>

          <div class="mt-4">
            <%= link_to 'Retour aux Tours', tontine_tours_path(@tontine), class: "btn btn-secondary no-underline" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>