
<!DOCTYPE html>
<html>
<head>
  <title>Tontine Faso</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'chartkick' %>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% if personne_signed_in? %>
              <li class="nav-item">
                <span class="navbar-text me-2">
                  <%= current_personne.prenom %> <%= current_personne.nom %>
                </span>
              </li>
              <li class="nav-item">
                <%= link_to "Modifier mon profil", edit_personne_registration_path, class: "nav-link no-underline" %>
              </li>
              <li class="nav-item">
                <%= button_to "Se déconnecter", destroy_personne_session_path, method: :delete, class: "btn btn-primary mt-3 mt-lg-0 ms-lg-2 no-underline" %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <% if notice.present? %>
          <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
